body {
    margin: 3rem;
}

.header {
    align-items: center;
    text-align: center;

    background-color: rgb(255, 205, 0);
}

.doaa {
    font-size: 2rem;
}

.page_title {
    font-size: 2rem;
    color: blue;
}

.component_wrapper {
    text-align: center;
}

.section_title {
    font-size: calc(1rem + 1vw);
}

.big_number {
    font-size: calc(1rem + 6vw);
    height: 100%;
}

.big_text {
    font-size: calc(1rem + 2vw);
    height: 100%;
}

.color_red {
    color: red;
}

.color_green {
    color: green;
}

.color_blue {
    color: blue;
}

.color_orange {
    color: orange;
}

.tooltip_wrapper {
    position: relative;
    display: inline-block;
}

.tooltip_wrapper .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip_wrapper:hover .tooltiptext {
    visibility: visible;
}

.rtl {
    direction: rtl;
}

footer {
    text-align: center;
    padding: 4rem;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}