body {
    margin: 3rem;
}

/* Main grid: only rows */
#wrapper {
    display: grid;
    align-items: center;
    grid-gap: 10rem;
    grid-template-columns: 1fr;
}

/* Top row: a new grid for numbers */
#numbers_wrapper {
    grid-row: 1;

    margin: auto;
    display: grid;
    align-items: center;
    grid-gap: 10rem;
}

/* Next row: a new grid for cases charts */
#cases_wrapper {
    grid-row: 2;

    display: grid;
    align-items: center;
    grid-gap: 10rem;
}


/* Next row: a new grid for vs. world charts */
#vs_world_wrapper {
    grid-row: 3;

    display: grid;
    align-items: center;
    grid-gap: 1rem 10rem;
}

#vs_world_title {
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
}



@media (min-width: 900px) {
    #numbers_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    #cases_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    #vs_world_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* chart containers */
.chart-container {
    position: relative;
    width: 99%;
}

/* classes */
.component_wrapper {
    text-align: center;
}

.sectionTitle {
    font-size: calc(1rem + 1vw);
}

.bigNumber {
    font-size: calc(1rem + 6vw);
    height: 100%;
}

.colorRed {
    color: red;
}

.colorGreen {
    color: green;
}

.tooltip_wrapper {
    position: relative;
    display: inline-block;
}

.tooltip_wrapper .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip_wrapper:hover .tooltiptext {
    visibility: visible;
}


p.rtl {
    direction: rtl;
}

footer {
    text-align: center;
    padding: 4rem;
}
